<h1>Start#index</h1>
<p>Find me in app/views/start/index.html.erb</p>

<p class="fat_red">
  class "fat_red" ist in app/assets/stylesheets/start.css.scss definiert
</p>

<div class="box">
  Box
</div>
